html{
    background-color: black;
    
}
h1, h2, h3, h4, h5, h6{
    color: white;
    
}

a{
    color: green;
}
.center{
    text-align: center;
    color: blue;
    text-decoration: underline;
}